:root {
  --dark-blue: #20325A;
  --white: #FFFFFF;
  --light-gray: #F9F9F9;
  --mid-gray: #cccccc;
  --dark-gray: #1A1A1A;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
}

.nav {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    font-size: 3rem;
    background-color: var(--dark-blue);
    color: var(--white);
    margin-bottom: 2rem;
}

.container {
  text-align: center;
  border-top: double var(--mid-gray);
  height: 50px ;
}


.search-container {
    margin: 0 auto;
    width: 90vw;

    border:1px solid var(--mid-gray);
    border-radius: 5px;
}

.search-container h2 {
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--mid-gray);
    padding: 1rem;
    font-weight: 800;
}

.search-form {
    background-color: var(--white);
}

.search-form div {
    margin-top: 1rem;
}

label {
    margin-left: 5%;
}

input[type=text], input[type=number] {
    border:1px solid var(--mid-gray);
    border-radius: 3px;
    width: 90%;
    display: block;
    margin: 5px auto;
    padding: 5px;
}

#search {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 5%;
    margin-right: 1rem;
    padding: 5px;
}

#clear-results {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 5px;
}

.articles-container {
    margin: 1rem auto;
    width: 90vw;
    border:1px solid var(--mid-gray);
    border-radius: 5px;
}

.articles-container h2 {
    background-color: var(--light-gray);
    border-bottom: 1px solid var(--mid-gray);
    padding: 1rem;
    font-weight: 800;
}

.articles-here {
    background-color: var(--white);
}